{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
   
    <link href="{% static 'css/university_Style.css' %}" rel="stylesheet">

</head>
<body>

        {% block nav %}

            <nav aria-label="main-navigation"  class="navbar" role="navigation">

                <div class="navbar-nav">
                        <!--University Dashboard Link -->
                    <ul class="nav-link">
                        <li>
                            <a class="link" href="{% url 'homeView' %}">Dashboard</a>
                        </li>   
                    </ul>
                </div>
            </nav>



        {% endblock %}







    <div id="Container">
        {% block content %}

        {% endblock %} 
       
    </div>
</body>
</html>