{% extends "base.html" %}
{% load static %}
{% block title%} {{title}} {% endblock %}


{% block content %}
<h1 class="textHeader">Dashboard</h1>
<hr/>
<br/>
{% block form %}
<form class="search-form" id="searchForm">
    <label name="searchTable_Data">Filter By:</label>
    <select id="filter-select">
        <option value="">--Please choose an Option--</option>
        <option value="name">Name</option>
        <option value="student_id">Mark</option>
        <option value="university">University</option>
    </select>
    <input type="text" name="search_filter" class="text-input"/>
    
    <label name="searchTable_Data">Sort By:</label>
    <select id="filter-select">
        <option value="">--Please choose an Option--</option>
        <option value="name">Name</option>
        <option value="student_id">Mark</option>
        <option value="university">University</option>
    </select>
    <input type="text" name="sort_by" class="text-input"/>
    <button type="submit" name="search" class="btn-button">filter</button>

    
</form>
{% endblock %}
<table class="table-fullwidth bordered">
<thead>

<tr>
    <th>Student_id</th>
    <th>University</th>
    <th>Name</th>
    <th>Marks</th>
</tr>
</thead>

<tbody>
{% for university in context %}

<tr>
    <td>{{ university.student_id  }}</td>
    <td>{{ university.university }}</td>
    <td>{{ university.name }}</td> 
    
    {% for university in context %}
    <td>{{ university.mark }}</td>
    {% endfor %}

</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}