{% extends "base.html" %}
{% load static %}
{% block title%} Dashboard {% endblock %}


{% block content %}
<h1 class="textHeader"> University Dashboard</h1>
<table class="table is-fullwidth is-striped is-bordered">
<thead>

<tr>
    <th>Student_id</th>
    <th>University</th>
    <th>Name</th>
    <th>Marks</th>
</tr>
</thead>

<tbody>
{% for university in university_names %}

<tr>
    <td>{{ university.student_id  }}</td>
    <td>{{ university.university }}</td>
    <td>{{ university.name }}</td> 
    
    {% for university in university_marks %}
    <td>{{ university.mark }}</td>
    {% endfor %}

</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}