*{
    padding: 0 35px;
    margin:5px;
}

/* University Navbar style */
.navbar{display:block; justify-content: center; }
.navbar-nav{display: block; justify-content: center; background-color: azure;}
.navbar-link{display: inline-flex;text-decoration: none; color:black}

/* UniversityHeader*/

.textHeader{display: flex;justify-content: center;color:#666;text-transform: uppercase;}